In [5]:
import pandas as pd
df=pd.read_csv("music.csv")
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [6]:
songs = {'Album': ['Thriller','Back in Black','The Dark Side of the Moon','The Bodyguard','Bat Out of Hell'],
        'Release': [1982,1980,1973,1992,1977],
        'Length': ['00:42:01','00:42:01','00:42:01','00:57:01','00:46:01']}
songs=pd.DataFrame(songs)
songs.head()

                       Album  Release    Length
0                   Thriller     1982  00:42:01
1              Back in Black     1980  00:42:01
2  The Dark Side of the Moon     1973  00:42:01
3              The Bodyguard     1992  00:57:01
4            Bat Out of Hell     1977  00:46:01

In [7]:
songs = {'Album': ['Thriller','Back in Black','The Dark Side of the Moon','The Bodyguard','Bat Out of Hell'],
        'Release': [1982,1980,1973,1992,1977],
        'Length': ['00:42:01','00:42:01','00:42:01','00:57:01','00:46:01']}
songs=pd.DataFrame(songs)
songs.to_csv("songs.csv")

In [9]:
songs = {'Album': ['Thriller','Back in Black','The Dark Side of the Moon','The Bodyguard','Bat Out of Hell'],
        'Release': [1982,1980,1973,1992,1977],
        'Length': ['00:42:01','00:42:01','00:42:01','00:57:01','00:46:01']}
songs=pd.DataFrame(songs)
songs.loc[songs['Release']>=1982]

           Album  Release    Length
0       Thriller     1982  00:42:01
3  The Bodyguard     1992  00:57:01

In [12]:
songs = {'Album': ['Thriller','Back in Black','The Dark Side of the Moon','The Bodyguard','Bat Out of Hell'],
        'Release': [1982,1980,1973,1992,1977],
        'Length': ['00:42:01','00:42:01','00:42:01','00:57:01','00:46:01']}
songs=pd.DataFrame(songs)
songs.iloc[1,1] #[role,col]

np.int64(1980)

In [13]:
songs = {'Album': ['Thriller','Back in Black','The Dark Side of the Moon','The Bodyguard','Bat Out of Hell'],
        'Release': [1982,1980,1973,1992,1977],
        'Length': ['00:42:01','00:42:01','00:42:01','00:57:01','00:46:01']}
songs=pd.DataFrame(songs)
songs.describe()

           Release
count     5.000000
mean   1980.800000
std       7.120393
min    1973.000000
25%    1977.000000
50%    1980.000000
75%    1982.000000
max    1992.000000

In [14]:
songs = {'Album': ['Thriller','Back in Black','The Dark Side of the Moon','The Bodyguard','Bat Out of Hell'],
        'Release': [1982,1980,1973,1992,1977],
        'Length': ['00:42:01','00:42:01','00:42:01','00:57:01','00:46:01']}
songs=pd.DataFrame(songs)
songs.Album.value_counts()

Album
Thriller                     1
Back in Black                1
The Dark Side of the Moon    1
The Bodyguard                1
Bat Out of Hell              1
Name: count, dtype: int64

In [16]:
songs = {'Album': ['Thriller','Back in Black','The Dark Side of the Moon','The Bodyguard','Bat Out of Hell'],
        'Release': [1982,1980,1973,1992,1977],
        'Length': ['00:42:01','00:42:01','00:42:01','00:57:01','00:46:01']}
songs=pd.DataFrame(songs)
songs.groupby("Release")
songs

                       Album  Release    Length
0                   Thriller     1982  00:42:01
1              Back in Black     1980  00:42:01
2  The Dark Side of the Moon     1973  00:42:01
3              The Bodyguard     1992  00:57:01
4            Bat Out of Hell     1977  00:46:01